<head>

<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true" />
<meta name="description" content="{{ page.Trabalho}}  , {{ page.Concelho }} , concurso, oferta, emprego, dados abertos, open-data">
<meta name="author" content="Emprego público dados abertos">
<meta name="robots" content="follow, index" />
<link rel="icon" href="/icon.png">
<link rel="canonical" href="https://empregopublico.github.io/empregos/j{{ page.Id }}.html" />
<link rel="alternate" type="application/rss+xml"  title="RSS Feed"   href="/rss.xml" />
<meta property="og:image" content="/logo.png" />
<meta name="thumbnail" content="/logo.png" />
<meta name="twitter:image" content="/logo.png" />   
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="geo.region" content="PT-06" />
<meta name="geo.placename" content="{{ page.Concelho }}" />

<title>{{ page.Trabalho }} | {{ page.Concelho }} | Emprego Público</title>

 
      
</head>
