<head>

<!-- Global site tag (gtag.js) - Google Analytics -->   
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVKN1ZRD4E"></script> 
<script>  
window.dataLayer = window.dataLayer || [];  
function gtag(){dataLayer.push(arguments);}  
gtag('js', new Date());   
gtag('config', 'G-LVKN1ZRD4E');  
</script>      

<script data-ad-client="ca-pub-3078133488068545" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>     

<meta charset="UTF-8">

<meta name="HandheldFriendly" content="true" />
  
<meta name="description" content="{{ page.XPTO }}  , {{ page.XPTO }} , {{ page.XPTO }} , emprego público, dados abertos, open-data">
<meta name="author" content="Emprego público dados abertos">

<meta name="robots" content="follow, index" />

<link rel="icon" href="/icon.png">

<meta property="og:image" content="/logo.png" />

<meta name="thumbnail" content="/logo.png" />   

<title>{{ page.XPTO }} | {{ page.XPTO }} | {{ page.XPTO }} | Emprego Público</title>

<script type="application/ld+json"> 
{ 
"@context" : "https://schema.org/", 
"@type" : "JobPosting",
"title" : "{{ page.XPTO }}", 
"description" : "<p>{{ page.XPTO }}</p>", 
"datePosted" : "{{ page.XPTO }}", 
"validThrough" : "{{ page.XPTO }}", 
"employmentType" : "full_time", 
"hiringOrganization" : { 
"@type" : "Organization", 
"name" : "{{ page.XPTO }}" 
}, 
"jobLocation": { 
"@type": "Place", 
"address": {    
"@type": "PostalAddress",    
"streetAddress": "{{ page.XPTO }}",    
"addressLocality": "{{ page.XPTO }}",    
"addressRegion": "{{ page.XPTO }}",    
"postalCode": "{{ page.XPTO }}",    
"addressCountry": "PT"    
}    
} 
} 
</script>
  
</head>
