<!DOCTYPE html>
<html lang="pt-PT"> 
	{% include head_distrito.html %}	
<body>
    
<div class="container py-3">

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Emprego Público - Dados Abertos</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://twitter.com/PublicoEmprego/" target="_blank">Twitter</a>
        <a class="py-2 text-dark text-decoration-none" href="/myRSS.xml" target="_blank">RSS</a>
      </nav>
    </div>

  </header>

  <main>
	<div>

		<h1><strong>Emprego {{ page.Distrito }}, distrito</strong></h1>
	
		<div>

		{% assign posts = site.posts %}
		<table class="table table-hover">
		<thead><tr><th scope="col">Data Abertura</th><th scope="col">Emprego</th><th scope="col">Concelho</th></tr></thead>
		<tbody>
		  {%- for post in posts -%}
		  	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
			{% capture posttime %}{{post.DataFecho | date: '%s'}}{% endcapture %}
			{% if posttime >= nowunix  and post.Distrito contains {{page.Distrito}}%}
			 <tr><th scope="row">{{ post.DataAbertura | escape }}</th><td><a href="{{ post.url | relative_url }}">{{ post.Trabalho | escape }} -  {{ post.Empregador | escape }}</a></td><td>{{ post.Concelho | escape }}</td></tr>
			  {% endif %}
		  {%- endfor -%}
		</tbody>
		</table>		
		
		<h3>Mapa:</h3>
		<iframe title="mapa distrito {{ page.Distrito }}" width="350" height="350" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=distrito:+{{ page.Distrito | url_encode }}+Portugal&language=pt-PT&key=AIzaSyDhY_DeivuFCPgnnH3lqMITRrdSIPRxL1w"></iframe> 
		
		
		
		<nav aria-label="breadcrumb"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/">Home</a></li><li class="breadcrumb-item active" aria-current="page">Emprego Distrito {{ page.Distrito }}</li></ol></nav>
		</div>
				
	</div>

	    

	<div>
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BreadcrumbList",
		  "itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Home",
			"item": "https://empregopublico.github.io/"
		  },{
			"@type": "ListItem",
			"position": 2,
			"name": "Emprego Distrito {{ page.Distrito }}",
			"item": "{{ site.url }}{{ page.url }}"
		  }]
		}
		</script>
	</div>	
	

	
  </main>
  

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
		<p><a href="https://empregopublico.github.io/">Projecto/iniciativa</a> experimental de dados abertos (open-data). Projecto auto-didacta de <a href="https://ricardomar.github.io/" target="_blank">Ricardo Martins</a>.</p>
		<p>Segue este projecto no <a href="https://twitter.com/publicoemprego" target="_blank" >Twitter</a> ou via <a href="/myRSS.xml">RSS feed</a>.</p>
  </footer>
</div>

   
</body>
</html>
