<!DOCTYPE html>
<html lang="pt-PT"> 
	{% include head_emprego_new_template.html %}
	
<body>
    
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Emprego Público - Dados Abertos</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/empregos">Lista Empregos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://twitter.com/PublicoEmprego/">Twitter</a>
        <a class="py-2 text-dark text-decoration-none" href="/rss.xml">RSS</a>
      </nav>
    </div>

  </header>

  <main>
	<div>
		<p><a href="https://empregopublico.github.io/">Home</a> > <a href="https://empregopublico.github.io/empregos/">Lista Empregos</a> > Oferta  {{ page.Id }}</p>
		<h1>{{ page.Trabalho }} - emprego {{ page.Concelho }}, {{ page.Distrito }}</h1>
		<h2>{{ page.Empregador }}</h2>
		<h3>Funções do emprego:</h3>
		<p>{{ page.Descricao }}</p>
		<h3>Data de abertura do concurso de emprego:</h3>
		<p>{{ page.DataAbertura}}</p>
		<h3>Data de fecho do concurso de emprego:</h3>
		<p>{{ page.DataFecho}}</p>
		<h3>Como poderá candidatar-se a esta oferta de emprego?</h3>
		<p>Informação completa disponível no site oficial da oferta de emprego:</p>
		<p><a target="_blank" href="https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}">https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}</a></p>
		<p><br/></p>		
		<h3>English version?</h3>
		<p><a target="_blank" href="https://translate.google.com/translate?js=n&sl=pt&tl=en&u=https://empregopublico.github.io/empregos/j{{ page.Id }}.html">You can find an English version in this link.</a>.</p>
		<p><br/></p>
		<p><br/></p>	
		<p><br/></p>
		<p><br/></p>			
		<p><br/></p>
		<p><br/></p>	
		<p><br/></p>
		<p><br/></p>			
	</div>
	



	<div>
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BreadcrumbList",
		  "itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Home",
			"item": "https://empregopublico.github.io/"
		  },{
			"@type": "ListItem",
			"position": 2,
			"name": "Empregos",
			"item": "https://empregopublico.github.io/empregos/"
		  },{
			"@type": "ListItem",
			"position": 3,
			"name": "Emprego Ref: {{ page.Id }}",
			"item": "https://empregopublico.github.io/empregos/j{{ page.Id }}.html"
		  }]
		}
		</script>
	</div>	
	
	<div>
		<!-- Global site tag (gtag.js) - Google Analytics -->   
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVKN1ZRD4E"></script> 
		<script>  
		window.dataLayer = window.dataLayer || [];  
		function gtag(){dataLayer.push(arguments);}  
		gtag('js', new Date());   
		gtag('config', 'G-LVKN1ZRD4E');  
		</script>
	</div>
	
  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
		<p><a href="https://empregopublico.github.io/">Projecto/iniciativa</a> experimental de dados abertos (open-data).</p>
		<p>Segue este projecto no <a href="https://twitter.com/publicoemprego">Twitter</a>, no <a href="https://www.linkedin.com/company/emprego-publico-dados-abertos/posts/">LinkedIn</a>, ou <a href="/rss.xml">RSS feed</a>.</p>
  </footer>
</div>
    
</body>
</html>
