<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	
	<body>

	<h1>{{ page.Trabalho }}</h1>
	<h2>{{ page.Empregador }} - {{ page.Concelho }}</h2>
	<h3>Funções:</h3>
	<p>{{ page.Descricao }}</p>
	<h3>Data de abertura do concurso:</h3>
	<p>{{ page.DataAbertura}}</p>
	<h3>Data de fecho do concurso:</h3>
	<p>{{ page.DataFecho}}</p>
	<h3>Como poderá candidatar-se a esta oferta de emprego?</h3>
	<p>Informação completa disponível no site oficial:</p>
	<p><a target="_blank" href="https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}">https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}</a></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>	
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>		
	<p><a href="https://empregopublico.github.io/">Projecto/iniciativa</a> experimental de dados abertos (open-data).</p>
	<p><br/></p>	
	<ul>
	<li>     
	<a href="https://empregopublico.github.io/">Home</a>
	</li>
	<li>
	<a href="https://empregopublico.github.io/empregos/">Lista Empregos</a>
	</li>
	<li>
	ID: {{ page.Id }}
	</li>
	</ul>
	</body>
</html>
