<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
	<div>
	<h1>{{ page.Trabalho }}</h1>
	<h2>{{ page.Empregador }} - {{ page.Concelho }}</h2>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Teste01 - emprego público -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-3078133488068545"
		 data-ad-slot="2481127217"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	
	<h3>Funções:</h3>
	<p>{{ page.Descricao }}</p>
	<h3>Data de abertura do concurso:</h3>
	<p>{{ page.DataAbertura}}</p>
	<h3>Data de fecho do concurso:</h3>
	<p>{{ page.DataFecho}}</p>
	<h3>Como pode candidatar-se a esta oferta de emprego? Informação oficial completa sobre o concurso:</h3>
	<p><a target="_blank" href="https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}">https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}</a></p>
	<p><br/><br/><br/></p>
	<p>Informação extraída para <a href="https://empregopublico.github.io/">projecto/iniciativa</a> experimental de dados abertos (open-data).</p>
		
        {{ content }}
	</div>
	</body>
</html>
