<main class="page-content" aria-label="Content">
	<div class="wrapper">
	
		<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

		  <header class="post-header">
			<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
			<p class="post-meta">
			  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{{ page.date | date: date_format }}
			  </time>
			  {%- if page.modified_date -%}
				~ 
				{%- assign mdate = page.modified_date | date_to_xmlschema -%}
				<time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
				  {{ mdate | date: date_format }}
				</time>
			  {%- endif -%}
			  {%- if page.author -%}
				• {% for author in page.author %}
				  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span class="p-author h-card" itemprop="name">{{ author }}</span></span>
					{%- if forloop.last == false %}, {% endif -%}
				{% endfor %}
			  {%- endif -%}</p>
		  </header>

		  <div class="post-content e-content" itemprop="articleBody">






	<div>
		<h1><strong>Emprego {{ page.Concelho }} - {{ page.Trabalho }} </strong></h1>
		<h2>{{ page.Empregador }}</h2>
		<p><br/></p>
		<h3>Funções do emprego:</h3>
		<p>{{ page.Descricao }}</p>
		<p><br/></p>
		<h3>Data de abertura do concurso de emprego:</h3>
		<p>{{ page.DataAbertura}}</p>
		<p><br/></p>
		<h3>Data de fecho do concurso de emprego:</h3>
		<p>{{ page.DataFecho}}</p>
		<p><br/></p>
		<h3>Como poderá candidatar-se a esta oferta de emprego?</h3>
		<p>Informação completa disponível no site oficial da oferta de emprego:</p>
		<p><a target="_blank" href="https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}">https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}</a></p>
		<p><br/></p>		
		<h3>English version?</h3>
		<p><a target="_blank" href="https://translate.google.com/translate?js=n&sl=pt&tl=en&u=https://empregopublico.github.io/empregos/j{{ page.Id }}.html">You can find an English version in this link.</a>.</p>
		<p><br/></p>
		<p><br/></p>
		
		<nav aria-label="breadcrumb"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/">Home</a></li><li class="breadcrumb-item"><a href="/empregos/">Empregos</a></li><li class="breadcrumb-item active" aria-current="page">Emprego Ref: {{ page.Id }}</li></ol></nav>
				
	</div>
	
    <div>	  
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Onde e qual é a oferta de emprego ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " Emprego {{ page.Concelho }} - {{ page.Trabalho }}  "
        }
      }, {
        "@type": "Question",
        "name": "Qual é o empregador ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " {{ page.Empregador }} "
        }
      }, {
        "@type": "Question",
        "name": "Funções do emprego?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " {{ page.Descricao }} "
        }
      }, {
        "@type": "Question",
        "name": "Como poderá candidatar-se a esta oferta de emprego?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "No website https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}"
        }
      }, {
        "@type": "Question",
        "name": "Data de fecho do concurso de emprego ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":" {{ page.DataFecho}} "}
        }]
    }
    </script> 
    </div>	
    

	<div>
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BreadcrumbList",
		  "itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Home",
			"item": "https://empregopublico.github.io/"
		  },{
			"@type": "ListItem",
			"position": 2,
			"name": "Empregos",
			"item": "https://empregopublico.github.io/empregos/"
		  },{
			"@type": "ListItem",
			"position": 3,
			"name": "Emprego Ref: {{ page.Id }}",
			"item": "https://empregopublico.github.io/empregos/j{{ page.Id }}.html"
		  }]
		}
		</script>
	</div>	
	
	<div>
		<!-- Global site tag (gtag.js) - Google Analytics -->   
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVKN1ZRD4E"></script> 
		<script>  
		window.dataLayer = window.dataLayer || [];  
		function gtag(){dataLayer.push(arguments);}  
		gtag('js', new Date());   
		gtag('config', 'G-LVKN1ZRD4E');  
		</script>
	</div>










		  </div>


		  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
		</article>

	</div>
</main>


