<!DOCTYPE html>
<html lang="pt-PT"> 
	{% include head_post.html %}
	
<body>
    
<div class="container py-3">

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Emprego Público - Dados Abertos</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="https://twitter.com/PublicoEmprego/" target="_blank">Twitter</a>
        <a class="py-2 text-dark text-decoration-none" href="/rss.xml" target="_blank">RSS</a>
      </nav>
    </div>

  </header>

  <main>
    <article itemscope itemtype="http://schema.org/BlogPosting">
	<div>

		<h1 itemprop="name headline"><strong>{{ page.title | escape }}</strong></h1>
		<p>
		  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: date_format }}
		  </time>
		  {%- if page.modified_date -%}
			~ 
			{%- assign mdate = page.modified_date | date_to_xmlschema -%}
			<time datetime="{{ mdate }}" itemprop="dateModified">
			  {{ mdate | date: date_format }}
			</time>,
		  {%- endif -%}
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span itemprop="name">{{ site.author.name }}</span></span>
		</p>	
	
		<div  itemprop="articleBody">
		<div itemscope itemtype="https://schema.org/JobPosting">
		<h2>{{ page.Empregador }}</h2>
		<p><br/></p>
		<h3>Funções do emprego:</h3>
		<p>{{ page.Descricao }}</p>
		<p><br/></p>
		<h3>Data de abertura do concurso de emprego:</h3>
		<p><span itemprop="datePosted">{{ page.DataAbertura}}</span></p>
		<p><br/></p>
		<h3>Data de fecho do concurso de emprego:</h3>
		<p>{{ page.DataFecho}}</p>
		<p><br/></p>
		<h3>Como poderá candidatar-se a esta oferta de emprego?</h3>
		<p>Informação completa disponível no site oficial da oferta de emprego:</p>
		<p><a target="_blank" href="https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}">www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}</a></p>
		<p><br/></p>
		<h3>Mais ofertas de emprego no distrito de {{page.Distrito}}?</h3>
		{% if page.Distrito contains "Aveiro" %}
		<p><a href="/emprego-aveiro.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Beja" %}
		<p><a href="/emprego-beja.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>

		{% elsif page.Distrito contains "Bragança" %}
		<p><a href="/emprego-braganca.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Braga" %}		
		<p><a href="/emprego-braga.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
						
		{% elsif page.Distrito contains "Castelo Branco" %}
		<p><a href="/emprego-castelo-branco.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Coimbra" %}
		<p><a href="/emprego-coimbra.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Évora" %}
		<p><a href="/emprego-evora.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Faro" %}
		<p><a href="/emprego-faro.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Guarda" %}
		<p><a href="/emprego-guarda.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Leiria" %}
		<p><a href="/emprego-leiria.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Lisboa" %}
		<p><a href="/emprego-lisboa.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Portalegre" %}
		<p><a href="/emprego-portalegre.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% elsif page.Distrito contains "Porto" %}
		<p><a href="/emprego-porto.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
	
		{% elsif page.Distrito contains "Santarém" %}
		<p><a href="/emprego-santarem.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>

		{% elsif page.Distrito contains "Setúbal" %}
		<p><a href="/emprego-setubal.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>

		{% elsif page.Distrito contains "Viana do Castelo" %}
		<p><a href="/emprego-viana-castelo.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>

		{% elsif page.Distrito contains "Vila Real" %}
		<p><a href="/emprego-vila-real.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>

		{% elsif page.Distrito contains "Viseu" %}
		<p><a href="/emprego-viseu.html">Lista de últimas ofertas de emprego no distrito de {{page.Distrito}}</a>.</p>
		
		{% endif %}	
		
        <p><br/></p>
		<h3>Mapa:</h3>
		<iframe title="mapa {{ page.Empregador }}, {{ page.Concelho }}" width="350" height="350" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q={{ page.Empregador | url_encode }}+{{ page.Concelho | url_encode}}&language=pt-PT&key=AIzaSyDhY_DeivuFCPgnnH3lqMITRrdSIPRxL1w"></iframe> 

		

		<nav aria-label="breadcrumb"><ol class="breadcrumb"><li class="breadcrumb-item"><a href="/">Home</a></li><li class="breadcrumb-item active" aria-current="page">Emprego Ref: {{ page.Id }}</li></ol></nav>
		</div>
		</div>
			
	</div>
	</article>
	
    <div>	  
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "Onde e qual é a oferta de emprego ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " Emprego {{ page.Concelho }} - {{ page.Trabalho }}  "
        }
      }, {
        "@type": "Question",
        "name": "Qual é o empregador ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " {{ page.Empregador }} "
        }
      }, {
        "@type": "Question",
        "name": "Funções do emprego?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": " {{ page.Descricao }} "
        }
      }, {
        "@type": "Question",
        "name": "Como poderá candidatar-se a esta oferta de emprego?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "No website https://www.bep.gov.pt/pages/oferta/Oferta_Detalhes.aspx?CodOferta={{ page.Id }}"
        }
      }, {
        "@type": "Question",
        "name": "Data de fecho do concurso de emprego ?",
        "acceptedAnswer": {
          "@type": "Answer",
          "text":" {{ page.DataFecho}} "}
        }]
    }
    </script> 
    </div>	
    

	<div>
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BreadcrumbList",
		  "itemListElement": [{
			"@type": "ListItem",
			"position": 1,
			"name": "Home",
			"item": "https://empregopublico.github.io/"
		  },{
			"@type": "ListItem",
			"position": 2,
			"name": "Emprego Ref: {{ page.Id }}",
			"item": "{{ site.url }}{{ page.url }}"
		  }]
		}
		</script>
	</div>	
	
	<div>
		<!-- Global site tag (gtag.js) - Google Analytics -->   
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVKN1ZRD4E"></script> 
		<script>  
		window.dataLayer = window.dataLayer || [];  
		function gtag(){dataLayer.push(arguments);}  
		gtag('js', new Date());   
		gtag('config', 'G-LVKN1ZRD4E');  
		</script>
	</div>
	
  </main>
  

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
		<p><a href="https://empregopublico.github.io/">Projecto/iniciativa</a> experimental de dados abertos (open-data). Projecto auto-didacta de <a href="https://ricardomar.github.io/" target="_blank">Ricardo Martins</a>.</p>
		<p>Segue este projecto no <a href="https://twitter.com/publicoemprego" target="_blank" >Twitter</a> ou via <a href="/rss.xml">RSS feed</a>.</p>
  </footer>
</div>
    
</body>
</html>
